[submodule "vim/dot-vim/pack/bundle/opt/fzf.vim"]
	path = vim/.vim/pack/bundle/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/dot-vim/pack/bundle/opt/lightline.vim"]
	path = vim/.vim/pack/bundle/opt/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/dot-vim/pack/bundle/opt/vim-dirvish"]
	path = vim/.vim/pack/bundle/opt/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "vim/dot-vim/pack/bundle/opt/vim-lsp"]
	path = vim/.vim/pack/bundle/opt/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "vim/dot-vim/pack/bundle/opt/vim-lsp-settings"]
	path = vim/.vim/pack/bundle/opt/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule "vim/dot-vim/pack/bundle/opt/asyncomplete.vim"]
	path = vim/.vim/pack/bundle/opt/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "vim/dot-vim/pack/bundle/opt/asyncomplete-lsp.vim"]
	path = vim/.vim/pack/bundle/opt/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule "vim/dot-vim/pack/bundle/opt/fzf"]
	path = vim/.vim/pack/bundle/opt/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/.vim/pack/bundle/opt/vim-fugitive"]
	path = vim/.vim/pack/bundle/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/bundle/opt/vim-commentary"]
	path = vim/.vim/pack/bundle/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/pack/bundle/opt/gruvbox"]
	path = vim/.vim/pack/bundle/opt/gruvbox
	url = https://github.com/gruvbox-community/gruvbox.git
[submodule "vim/.vim/pack/bundle/opt/vim-surround"]
	path = vim/.vim/pack/bundle/opt/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/pack/bundle/opt/vim-repeat"]
	path = vim/.vim/pack/bundle/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/pack/bundle/opt/vim-unimpaired"]
	path = vim/.vim/pack/bundle/opt/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/.vim/pack/bundle/opt/vim-devicons"]
	path = vim/.vim/pack/bundle/opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim/.vim/pack/bundle/opt/wiki.vim"]
	path = vim/.vim/pack/bundle/opt/wiki.vim
	url = https://github.com/lervag/wiki.vim.git
[submodule "vim/.vim/pack/bundle/opt/vim-sleuth"]
	path = vim/.vim/pack/bundle/opt/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "vim/.vim/pack/bundle/opt/wiki-ft.vim"]
	path = vim/.vim/pack/bundle/start/wiki-ft.vim
	url = https://github.com/lervag/wiki-ft.vim.git
