[submodule "vim/.vim/pack/bundle/opt/fzfvim/.vim"]
	path = vim/vim/.vim/pack/bundle/opt/fzfvim/.vim
	url = https://github.com/junegunn/fzfvim/.vim
[submodule "vim/.vim/pack/bundle/opt/gruvbox"]
	path = vim/vim/.vim/pack/bundle/opt/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/.vim/pack/bundle/opt/vim-restructuredtext"]
	path = vim/vim/.vim/pack/bundle/opt/vim-restructuredtext
	url = https://github.com/marshallward/vim-restructuredtext
[submodule "vim/.vim/pack/bundle/opt/lightlinevim/.vim"]
	path = vim/vim/.vim/pack/bundle/opt/lightlinevim/.vim
	url = https://github.com/itchyny/lightlinevim/.vim
[submodule "vim/.vim/pack/bundle/opt/vim-dirvish"]
	path = vim/vim/.vim/pack/bundle/opt/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "vim/.vim/pack/bundle/opt/vim-lsp"]
	path = vim/vim/.vim/pack/bundle/opt/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "vim/.vim/pack/bundle/opt/vim-lsp-settings"]
	path = vim/vim/.vim/pack/bundle/opt/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule "vim/.vim/pack/bundle/opt/asyncompletevim/.vim"]
	path = vim/vim/.vim/pack/bundle/opt/asyncompletevim/.vim
	url = https://github.com/prabirshrestha/asyncompletevim/.vim.git
[submodule "vim/.vim/pack/bundle/opt/asyncomplete-lspvim/.vim"]
	path = vim/vim/.vim/pack/bundle/opt/asyncomplete-lspvim/.vim
	url = https://github.com/prabirshrestha/asyncomplete-lspvim/.vim.git
[submodule "vim/.vim/pack/bundle/opt/fzf"]
	path = vim/vim/.vim/pack/bundle/opt/fzf
	url = https://github.com/junegunn/fzf.git
